* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
.reg {
    position: relative;
    width: 450px;
    top: 100px;
    height: 520px;
    margin: 0 auto;
    color: white;
    text-align: center;
    background-color: var(--gray_850);
    padding: 50px;
}

.reg input {
    border: none;
    padding: 5px;
}

.reg button {
    position: relative;
    width: 240px;
    height: 30px;
    margin-top: 20px;
}

.reg h3 {
    margin-top: 30px;
    text-align: left;
}

body {
    background-color: var(--gray_960);
}
.waiting {
    position: relative;
    width: 300px;
    top: 100px;
    margin: 0 auto;
    text-align: center;
}

.app .unconnected {
    display: none;
    position: relative;
    width: 450px;
    top: 100px;
    height: 250px;
    margin: 0 auto;
    color: white;
    text-align: center;
    background-color: var(--gray_850);
    padding: 50px;
}

.waiting h3,p {
    color: white;
}

.waiting img {
    background: white;
}

.reg * {
    margin-top: 10px;
}
input {
    width: 100%;
    height: 30px;
}